.docs-code-example-frame {
  display: flex;
  flex-direction: column;
  margin-top: $pt-spacing * 5;
  position: relative;
  width: 100%;
}

.docs-code-example {
  align-items: center;
  background: $pt-app-secondary-background-color;
  border-radius: $pt-border-radius * 2;
  display: flex;
  justify-content: center;
  padding: $pt-spacing * 5;

  .#{$ns}-dark & {
    background: $pt-dark-app-secondary-background-color;
  }
}

.docs-code-example-toolbar {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  padding-top: 8px;
}
